<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="https://s16.byteoversea.com/ee/WeColabsuite/faviconv.ico">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="WeColab – End User Terms of Service">
    <script>
      window.dataLayer4AA = {
        pageName: 'WeColabsuite/EN/Legal/Terms',
        site: 'WeColabsuite',
        section: 'legal',
      };
    </script>
    <title>WeColab – End User Terms of Service</title>
    <style>
        html {
            font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
        }

        body, h4 {
            margin: 0;
        }

        p, ul, ol {
            font-size: 14px;
            line-height: 22px;
        }

        a {
            text-decoration: none;
        }

        .terms-container {
            max-width: 960px;
            margin: 0 auto;
            padding: 60px 30px;
            box-sizing: content-box;
        }

        @media screen and (max-width: 750px) {
            .terms-container {
                padding: 10px 16px;
            }
        }
    </style>
</head>
<body>
<div class="terms-container">
    <h1>WeColab – End User Terms of Service</h1>
    <h3>1. YOUR RELATIONSHIP WITH US</h3>
    
    <p>These end user terms of service (the “<strong>Terms</strong>”) are an agreement between you
        and us and set forth the terms and conditions by which you may access and use the Platform and our related
        websites,
        services, applications, products and content (collectively, the “<strong>Services</strong>”). For purposes of
        these
        Terms, “<strong>you</strong>” and “<strong>your</strong>” means you as the user of the Services.</p>
    <p>The Terms
        form a legally binding agreement between you and us. Please take the time to read them carefully.</p>
    <h3>2. ACCEPTING THE TERMS</h3>
    <p>By accessing or using our Services, you confirm that you can form a binding
        contract with WeColab, that you accept these Terms and that you agree to comply with them. Your access to and use
        of
        our Services is also subject to our <strong>Privacy Policy</strong>, including any additional terms which are
        added
        to these Terms and made available to you from time to time. The terms and conditions of any additional agreement
        can
        be found directly on the Platform, on our website, or by request, and are incorporated herein by reference.</p>
    <p>If
        you access or use the Services from within a jurisdiction for which there are separate supplemental terms, you
        also
        hereby agree to the supplemental terms applicable to users in each jurisdiction as outlined in the relevant
        “<strong>Supplemental Terms – Jurisdiction-Specific</strong>” section below, and in the event of a conflict
        between
        the provisions of the <strong>Supplemental Terms – Jurisdiction-Specific</strong> that are relevant to your
        jurisdiction from which you access or use the Services, and the rest of these Terms, the relevant
        jurisdictions’ <strong>Supplemental Terms – Jurisdiction-Specific</strong> will supersede and control with
        respect
        to your use of the Services from that jurisdiction. Access to the Services from jurisdictions where the contents
        or
        practices of the Services are illegal, unauthorized or penalized is strictly prohibited. If you do not agree to
        these Terms, you must not access or use our Services.</p>
    <p>You accept the Terms by accessing or using our Services.
        You understand and agree that we will treat your access to or use of the Services as acceptance of the Terms
        from
        that point onwards.</p>
    <p>You should print off or save a local copy of the Terms for your records.</p>
    <h3>3. CUSTOMERS AND AUTHORIZED USERS</h3>
    <p>You must be authorized or invited to use the Services by your employer
        (or entity with which you are otherwise engaged) that has entered into a separate subscription agreement with
        WeColab
        and its affiliates for your use of the Services (a “<strong>Subscription Agreement</strong>”). Such employer or
        other business entity will be referred to herein as a “<strong>Customer</strong>”. The business or entity on
        behalf
        of which you are accessing or using the Services is legally and financially responsible for your access to and
        use
        of the Services as well as for the use of your account by others affiliated with your entity, including any
        employees, agents or contractors.</p>
    <p>Users (including you) that have been invited to use the Services by a
        Customer and are then authorized by us to use the Services are referred to as an “<strong>Authorized
            User</strong>”.
        A Customer may invite you to use the Services by sending you (or directing us to send you) a verification code
        that
        allows you to create an account on the Services as an Authorized User of such Customer. You agree not to share
        or
        distribute such verification code with or to any other persons other than administrative personnel of the
        Customer
        that has invited you to use the Services. You also agree that the Customer may share your contact information
        with
        us in order to facilitate use of the Service by you and other Authorized Users of such Customer.</p>
    <p>In the event
        of a conflict between these Terms and a Subscription Agreement, the terms of the Subscription Agreement will
        supersede and control with respect to your use of the Services.</p>
    <p>You acknowledge that the Services as used by
        you under such circumstances are a workplace tool intended for use by businesses and organizations and not for
        consumer purposes. To the maximum extent permitted by law, you hereby acknowledge and agree that consumer laws
        do
        not apply in connection with such use of the Services.</p>
    <h3>4. CHANGES TO THE TERMS</h3>
    <p>We amend these Terms from time to time, for instance when we update the functionality of our Services or when
        there are
        regulatory changes. We will use commercially reasonable efforts to provide reasonable notice to all users of any
        material changes to these Terms, such as through a notice on our Platform, however, you should look at the Terms
        regularly to check for such changes. We will also update the “Last Updated” date at the top of these Terms,
        which
        reflect the effective date of such Terms. Your continued access to or use of the Services after the date of the
        new
        Terms constitutes your acceptance of the new Terms. If you do not agree to the new Terms, you must stop
        accessing or
        using the Services.</p>
    <h3>5. YOUR ACCOUNT WITH US</h3>
    <p>To access or use some of our Services, you
        must create an account with us. When you create this account, you must provide accurate and up-to-date
        information.
        It is important that you maintain and promptly update your details and any other information you provide to us,
        to
        keep such information current and complete.</p>
    <p>It is important that you keep your account password confidential
        and that you do not disclose it to any third party. If you know or suspect that any third party knows your
        password
        or has accessed your account, you must promptly notify us at <a href="WeColabSupport@gmail.com">WeColabSupport@gmail.com</a>.
    </p>
    <p>You agree that you are solely responsible (to us and to other users of our Services) for the activity that occurs
        under your account.</p>
    <p>We reserve the right to disable your user account at any time if in our reasonable opinion
        you have failed to comply with any of the provisions of these Terms.</p>
    <h3>6. YOUR ACCESS TO AND USE OF OUR SERVICES</h3>
    <p>Subject to the terms and conditions of these Terms, we grant you a non-exclusive, limited,
        non-transferable, non-sublicensable, revocable license to access and use the Services, including to download the
        Platform on a permitted device, and to access the WeColab Content (defined below) through your use of the Services.
        We
        reserve all rights not expressly granted herein in the Services and the WeColab Content. You acknowledge and agree
        that
        we may terminate this license at any time for any reason or for no reason at any.</p>
    <p>Your access to and use of
        the Services is subject to these Terms and all applicable laws and regulations. You may not:</p>
    <ul>
        <li>Access or use the Services if you are not fully able and legally competent and over 18 years of age or
            otherwise
            able to agree to these Terms (e.g. over the age of majority in your country);
        </li>
        <li>To the greatest extent permitted under applicable law, modify, adapt, translate, reverse engineer,
            disassemble,
            decompile or create any derivative works based on the Services, including any files, tables or documentation
            (or
            any portion thereof) or determine or attempt to determine any source code, algorithms, methods or techniques
            embodied the Platform or any derivative works thereof;
        </li>
        <li>Distribute, license, transfer or sell, in whole or in part, any of the Services or any derivative works
            thereof;
        </li>
        <li>Market, rent or lease the Services for a fee or charge, or use the Platform to advertise or perform any
            commercial solicitation;
        </li>
        <li>Interfere with or attempt to interfere with the proper working of the Services, disrupt our website or any
            networks connected to the Services, or bypass any measures we may use to prevent or restrict access to the
            Services;
        </li>
        <li>Incorporate the Platform or any portion thereof into any other program or product. We reserve the right to
            refuse service, terminate accounts or limit access to the Services in our sole discretion;
        </li>
        <li>Use automated scripts to collect information from or otherwise interact with the Services;</li>
        <li>Impersonate any person or entity, or falsely state or otherwise misrepresent you or your affiliation with
            any
            person or entity, including giving the impression that any content you upload, post, transmit, distribute or
            otherwise made available emanates from the Services;
        </li>
        <li>Intimidate or harass another, or promote sexually explicit material, violence or discrimination based on
            race,
            sex, religion, nationality, disability, sexual orientation or age;
        </li>
        <li>Use or attempt to use another’s account, service or system without authorization from WeColab, or create a
            false
            identity on the Services;
        </li>
        <li>Use the Services in a manner that would violate any applicable laws;</li>
        <li>Without consent from WeColab and other relevant third parties, use the Services on nuclear facilities, military
            purposes, medial facilities or public transportations and other restricted or sensitive industries or scope,
            or
            communicate, transfer, share, publish, disseminate or leak any state secrets or trade secrets;
        </li>
        <li>Use the Services in a manner that may create a conflict of interest or undermine the purposes of the
            Services;
            or
        </li>
        <li>Use the Services to upload, transmit, distribute, store or otherwise make available in any way (including
            for
            the purposes of creating and/or streaming content):
            <ul>
                <li>files that contain viruses, trojans, worms, logic bombs or other material that is malicious or
                    technologically harmful;
                </li>
                <li>any unsolicited or unauthorized advertising, solicitations, promotional materials, “junk mail”,
                    “spam”,
                    “chain letters”, “pyramid schemes”, or any other prohibited form of solicitation;
                </li>
                <li>any private information of any third party without prior authorization of such third party,
                    including
                    but not limited to, addresses, phone numbers, email addresses or credit card numbers;
                </li>
                <li>any content which does or may infringe any copyright, trademark or other intellectual property or
                    privacy rights of any other person;
                </li>
                <li>any content which is defamatory of any person, obscene, offensive, hateful or inflammatory;</li>
                <li>any content that would constitute, encourage or provide instructions for a criminal offense,
                    dangerous
                    activities or self-harm;
                </li>
                <li>any content that is deliberately designed to provoke or antagonize people, especially trolling, or
                    is
                    intended to harass, scare, distress, embarrass or upset people;
                </li>
                <li>any content that contains a threat of any kind, including threats of physical violence;</li>
                <li>any content that is racist or discriminatory, including discrimination on the basis of someone’s
                    race,
                    religion, age, gender, disability or sexuality;
                </li>
                <li>any answers, responses, comments, opinions, analysis or recommendations that you are not properly
                    licensed or otherwise qualified to provide; or
                </li>
                <li>content that, in the sole judgment of WeColab, is objectionable or which restricts or inhibits any
                    other
                    person from using the Services, or which may expose WeColab, the Services or its users to any harm or
                    liability of any type.
                </li>
            </ul>
        </li>
    </ul>
    <p>We reserve the right, at any time and without prior notice, to remove or disable access to content at our
        discretion for any reason. Some of the reasons we may remove or disable access to content may include finding
        the
        content objectionable, in violation of these Terms, or otherwise harmful to the Services or our users.</p>
    <h3>7. INTELLECTUAL PROPERTY RIGHTS</h3>
    <p>We respect intellectual property rights and ask you to do the
        same. As a condition of your access to and use of the Services, you agree not to use the Services to infringe
        any
        intellectual property rights, for example uploading or sharing copyrighted material of a third party without
        their
        consent. We reserve the right, with or without notice, at any time and in our sole discretion to block access to
        and/or terminate the accounts of any user who infringes or is alleged to infringe any copyrights or other
        intellectual property rights.</p>
    <h3>8. CONTENT</h3>
    <h4>A. Your Use of WeColab Content</h4>
    <p>As between you and WeColab, content on the Services (except User Content (as defined below)), including the text,
        software, logos, patents, trademarks, service marks, copyrights, and “look and feel” of the Services, and all
        intellectual property rights related thereto (“<strong>WeColab Content</strong>”), is either owned or licensed by
        WeColab.
    </p>
    <p>You may access WeColab Content for your use solely as intended through the provided functionality of the Services
        and as permitted under these Terms.</p>
    <p>Use of WeColab Content or materials from the Services for any purpose not
        expressly permitted by these Terms is strictly prohibited. You shall not copy, reproduce, distribute, transmit,
        broadcast, display, sell, license, or otherwise exploit any WeColab Content for any purpose whatsoever without our
        or,
        where applicable, our licensors’ prior written consent. We and our licensors reserve all rights not expressly
        granted in and to their content.</p>
    <p>You acknowledge and agree that when you view content provided by others on
        the Services (including any User Content), you are doing so at your own risk. You agree not to use, reproduce,
        copy,
        transmit, broadcast, distribute, display, sell, license or otherwise exploit such content for any purpose,
        without
        the express consent of the person who owns the rights to such User Content.</p>
    <p>Our Platform and/or Services may
        contain links or allow you to directly access other online services and resources provided by third parties. We
        may
        not be able to control your use of such third party services or resources. Such links or access rights should
        not be
        interpreted as approval by us of those third party services or resources or any information you may obtain from
        them.</p>
    <p>You acknowledge that we have no obligation to pre-screen, monitor, review, or edit any content written
        or posted by you and other users on the Platform (including User Content). You further understand and
        acknowledge
        that you may be exposed to content through the use of the Services that is offensive, indecent, or
        objectionable,
        and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have
        against
        WeColab with respect thereto, and, to the extent permitted by applicable law, agree to indemnify and hold harmless
        WeColab, its owners, operators, affiliates, licensors, and licensees to the fullest extent allowed by law regarding
        all
        matters related to your use of the Services.</p><h4>B. User Content</h4>
    <p>Users may be permitted to
        upload, post, submit, create or send messages, chats, documents, calendar information, communications or any
        other
        content (“<strong>User Content</strong>”) to or through the Services. Users may also overlay or add graphics,
        stickers, emojis and other elements provided by WeColab (“<strong>WeColab Elements</strong>”) onto User Content and
        transmit User Content through the Services. The information and materials in the User Content, including User
        Content that incorporates WeColab Elements, have not been verified or approved by us. WeColab does not endorse any
        User
        Content submitted to or sent through the Services by any user or other licensor, or any opinion, recommendation,
        or
        advice expressed therein.</p>
    <p>Whenever you make use of a feature that allows you to upload or transmit User
        Content through the Services or allows you to make contact with other users of the Services, you must comply
        with
        the standards set out in Section 6 “<strong>Your Access to and Use of Our Services</strong>” above. You warrant
        that
        any such User Content that you upload, transmit or otherwise make available through the Services does comply
        with
        those standards, and you will be liable to us and indemnify us for any breach of that warranty. This means you
        will
        be responsible for any loss or damage we suffer resulting from your breach of warranty.</p>
    <p>When you submit User
        Content through the Services, you agree and represent that you own that User Content, or you have received
        permission from, or are authorized by, the owner of any part of such User Content to submit it to the
        Services.</p>
    <p>We do not claim any ownership rights in your User Content. Please be aware that we provide each Customer with
        many
        choices and control over your User Content. For example, a Customer may enable or disable an Authorized User’s
        access to the Services, remove their User Content, enable or disable third party integrations, manage
        permissions,
        retention and export settings, and many other choices. These decisions and instructions may result in the
        access,
        use, disclosure, modification or deletion of certain or all User Content.</p>
    <p>Note that other users may continue
        to use and allow other persons to use your User Content independently, even after such User Content has been
        deleted
        from the Services, for example, if the user has created copies of your User Content and stored such User Content
        on
        their own account.</p>
    <p>You shall be solely responsible for your own User Content and the consequences of posting,
        submitting or sending your User Content on or to the Services. You further agree that you will not submit to the
        Services any User Content or other material that is contrary to applicable local, national, and international
        laws
        and regulations.</p>
    <p><strong>We accept no liability in respect of any content submitted by users and published by
        authorized third parties.</strong></p>
    <h3>9. INDEMNITY</h3>
    <p>To the maximum extent permitted by
        applicable law, you agree to defend, indemnify, and hold harmless WeColab, its parents, subsidiaries, and
        affiliates,
        and each of their respective officers, directors, employees, agents and advisors from any and all claims,
        liabilities, costs, and expenses, including, but not limited to, attorneys’ fees and expenses, arising out of a
        breach by you or any user of your account of these Terms or arising out of a breach of your obligations,
        representation and warranties under these Terms.</p>
    <h3>10. EXCLUSION OF WARRANTIES</h3>
    <p>THE
        SERVICES ARE PROVIDED “AS IS” AND WE MAKE NO WARRANTY OR REPRESENTATION TO YOU WITH RESPECT TO THEM.</p>
    <p>IN
        PARTICULAR WE DO NOT REPRESENT OR WARRANT TO YOU THAT:</p>
    <ul>
        <li>YOUR USE OF THE SERVICES WILL MEET YOUR REQUIREMENTS;</li>
        <li>YOUR USE OF THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE OR FREE FROM ERROR; AND</li>
        <li>DEFECTS IN THE OPERATION OR FUNCTIONALITY OF ANY SOFTWARE PROVIDED TO YOU AS PART OF THE SERVICES WILL BE
            CORRECTED.
        </li>
    </ul>
    <p>NO CONDITIONS, WARRANTIES OR OTHER TERMS (INCLUDING ANY IMPLIED TERMS AS TO SATISFACTORY QUALITY, FITNESS FOR
        PURPOSE) APPLY TO THE SERVICES EXCEPT TO THE EXTENT THAT THEY ARE EXPRESSLY SET OUT IN THE TERMS. WE MAY CHANGE,
        SUSPEND, WITHDRAW OR RESTRICT THE AVAILABILITY OF ALL OR ANY PART OF OUR PLATFORM FOR BUSINESS AND OPERATIONAL
        REASONS AT ANY TIME WITHOUT NOTICE.</p>
    <h3>11. LIMITATION OF LIABILITY</h3>
    <p>NOTHING IN THESE TERMS
        SHALL EXCLUDE OR LIMIT OUR LIABILITY FOR LOSSES WHICH MAY NOT BE LAWFULLY. NOTWITHSTANDING THE FOREGOING, WE
        SHALL
        NOT BE LIABLE TO YOU FOR:</p>
    <ul>
        <li>(I) ANY LOSS OF PROFIT (WHETHER INCURRED DIRECTLY OR INDIRECTLY); (II) ANY LOSS OF GOODWILL; (III) ANY LOSS
            OF
            OPPORTUNITY; (IV) ANY LOSS OF DATA SUFFERED BY YOU; OR (V) ANY INDIRECT OR CONSEQUENTIAL LOSSES WHICH MAY BE
            INCURRED BY YOU. ANY OTHER LOSS WILL BE LIMITED TO THE AMOUNT PAID BY Your Employer TO WeColab WITHIN THE LAST
            12
            MONTHS.
        </li>
        <li>ANY LOSS OR DAMAGE WHICH MAY BE INCURRED BY YOU AS A RESULT OF:
            <ul>
                <li>ANY RELIANCE PLACED BY YOU ON THE COMPLETENESS, ACCURACY OR EXISTENCE OF ANY ADVERTISING, OR AS A
                    RESULT
                    OF ANY RELATIONSHIP OR TRANSACTION BETWEEN YOU AND ANY ADVERTISER OR SPONSOR WHOSE ADVERTISING
                    APPEARS
                    ON THE SERVICE;
                </li>
                <li>ANY CHANGES WHICH WE MAY MAKE TO THE SERVICES, OR FOR ANY TEMPORARY CESSATION IN THE PROVISION OF
                    THE
                    SERVICES (OR ANY FEATURES WITHIN THE SERVICES);
                </li>
                <li>THE DELETION OF, CORRUPTION OF, OR FAILURE TO STORE, ANY CONTENT AND OTHER COMMUNICATIONS DATA
                    MAINTAINED OR TRANSMITTED BY OR THROUGH YOUR USE OF THE SERVICES;
                </li>
                <li>YOUR FAILURE TO PROVIDE US WITH ACCURATE ACCOUNT INFORMATION; OR</li>
                <li>YOUR FAILURE TO KEEP YOUR PASSWORD OR ACCOUNT DETAILS SECURE AND CONFIDENTIAL.</li>
            </ul>
        </li>
    </ul>
    <p>THESE LIMITATIONS ON OUR LIABILITY TO YOU SHALL APPLY WHETHER OR NOT WE HAVE BEEN ADVISED OF OR SHOULD HAVE BEEN
        AWARE OF THE POSSIBILITY OF ANY SUCH LOSSES ARISING.</p>
    <p>YOU ARE RESPONSIBLE FOR ANY MOBILE CHARGES THAT MAY APPLY
        TO YOUR USE OF OUR SERVICES, INCLUDING TEXT-MESSAGING AND DATA CHARGES. IF YOU’RE UNSURE WHAT THOSE CHARGES MAY
        BE,
        YOU SHOULD ASK YOUR SERVICE PROVIDER BEFORE USING THE SERVICES.</p>
    <h3>12. DATA USAGE</h3>
    <p>Using
        the Services on mobile applications may use some of your data allowance available on the data plan to which you
        have
        subscribed with your mobile network operator. International usage may lead to significantly higher costs than
        regular usage, and you are solely responsible for keeping yourself informed and paying for any possible charges
        levied by your mobile network operator.</p>
    <h3>13. NO ACCESS TO EMERGENCY SERVICES</h3>
    <p>The
        Services do not provide access to emergency services such as police, fire departments, or hospitals, or
        otherwise
        connect to public safety answering points. You should be sure you can contact your relevant emergency services
        providers through a mobile, fixed line telephone, or other service.</p>
    <h3>14. OTHER TERMS</h3>
    <ol>
        <li><strong>Applicable Law and Jurisdiction.</strong> These Terms, their subject matter and their formation, are
            governed by the laws of India. Any dispute arising out of or in connection with these Terms, including
            any
            question regarding existence, validity or termination of these Terms, shall be referred to and finally
            resolved
            by arbitration administered by the India International Arbitration Centre (“<strong>SIAC</strong>”) in
            accordance with the Arbitration Rules of the India International Arbitration Centre (“<strong>SIAC
                Rules</strong>”) for the time being in force, which rules are deemed to be incorporated by reference in
            this
            clause. The seat of the arbitration shall be India. The Tribunal shall consist of three (3) arbitrators.
            The
            language of the arbitration shall be English.
        </li>
        <li><strong>Entire Agreement.</strong> These Terms (together with the applicable Subscription Agreement)
            constitute
            the whole legal agreement between you and WeColab and govern your use of the Services and completely replace
            any
            prior agreements between you and WeColab in relation to the Services.
        </li>
        <li><strong>No Children.</strong> The Platform is only for people 18 years old and over (except that: (i) with
            respect to people in the United States, this restriction will only be for people 13 years old and over; and
            (ii)
            with respect to people in European Union this restriction will only be for people 16 years old and over
            unless
            they have the consent of a parent or legal guardian). By accessing or using the Platform, you confirm that
            you
            are over the relevant age specified above. If we learn that someone under the relevant specified age is
            using
            the Platform, we will terminate that user’s account. In addition, if you are under the age of 18, you
            confirm
            that you possess legal parental or guardian consent for accessing or using the Platform, and are fully able
            and
            competent to enter into, abide by, and comply with the Terms.
        </li>
        <li><strong>No Waiver.</strong> Our failure to insist upon or enforce any provision of these Terms shall not be
            construed as a waiver of any provision or right.
        </li>
        <li><strong>Security.</strong> We do not guarantee that our Platform will be secure or free from bugs or
            viruses.
            You are responsible for configuring your information technology, computer programmes and platform to access
            our
            Platform. You should use your own virus protection software.
        </li>
        <li><strong>Severability.</strong> If any court of law, having jurisdiction to decide on this matter, rules that
            any
            provision of these Terms is invalid, then that provision will be removed from the Terms without affecting
            the
            rest of the Terms, and the remaining provisions of the Terms will continue to be valid and enforceable.
        </li>
        <li><strong>No Assignment.</strong> You may not assign any of your rights or delegate your obligations under
            these
            Terms, whether by operation of law or otherwise, without the prior written consent of us. We may assign
            these
            Terms in their entirety (including all terms and conditions incorporated herein by reference), without your
            consent, to a corporate affiliate or in connection with a merger, acquisition, corporate reorganization, or
            sale
            of all or substantially all of our assets.
        </li>
    </ol>
    <!-- <p><strong>Any Questions?</strong> Get in touch at <a href="mailto:contact@WeColabsuite.com">contact@WeColabsuite.com</a>.
    </p> -->
    <p><strong>European </strong>Economic Area<strong>.</strong> Our services is temporarily not available to
        individuals who are in the countries of European Economic Area. </p>
    <p><strong>US.</strong> If you are using our
        services in the United States, the following additional terms apply:</p>
    <ul>
        <li><strong>Applicable Law and Jurisdiction.</strong> These Terms, their subject matter and their formation,
            including any arbitration proceeds outlined below, are governed by New York law.
        </li>
        <li><strong>ARBITRATION AND CLASS ACTION WAIVER.</strong> Subject to the Subscription Agreement, the following
            provisions shall apply:
            <ul>
                <li>This Section includes an arbitration agreement and an agreement that all claims will be brought only
                    in
                    an individual capacity (and not as a class action or other representative proceeding). Please read
                    it
                    carefully. <strong>You may opt out of the arbitration agreement by following the opt out procedure
                        described below.</strong></li>
                <li>Informal Process First. You agree that in the event of any dispute between you and WeColab, you will
                    first
                    contact WeColab and make a good faith sustained effort to resolve the dispute before resorting to more
                    formal means of resolution, including without limitation any court action.
                </li>
                <li>Arbitration Agreement. After the informal dispute resolution process any remaining dispute,
                    controversy,
                    or claim (collectively, “<strong>Claim</strong>”) relating in any way to your use of WeColab services
                    and/or products, including the Services, or relating in any way to the communications between you
                    and
                    WeColab or any other user of the Services, will be finally resolved by binding arbitration. This
                    mandatory
                    arbitration agreement applies equally to you and WeColab. However, this arbitration agreement does not
                    (a)
                    govern any Claim by WeColab for infringement of its intellectual property or access to the Services
                    that is
                    unauthorized or exceeds authorization granted in these Terms or (b) bar you from making use of
                    applicable small claims court procedures in appropriate cases. If you are an individual you may opt
                    out
                    of this arbitration agreement within thirty (30) days of the first of the date you access or use the
                    Services by following the procedure described below.
                </li>
                <li>You agree that the U.S. Federal Arbitration Act governs the interpretation and enforcement of this
                    provision, and that you and WeColab are each waiving the right to a trial by jury or to participate in
                    a
                    class action. This arbitration provision will survive any termination of these Terms.
                </li>
                <!-- <li>If you wish to begin an arbitration proceeding, after following the informal dispute resolution
                    procedure, you must send a letter requesting arbitration and describing your claim to the Legal
                    Department of WeColab via the below channels (email:<a href="mailto:contact@WeColabsuite.com">contact@WeColabsuite.com</a>,
                    or address: 17-109, WeWork 8 Cross St; 8 Cross Street, India 048424).
                </li>
                <li>The arbitration will be administered by the American Arbitration Association (AAA) under its rules
                    including, if you are an individual, the AAA’s Supplementary Procedures for Consumer-Related
                    Disputes.
                    If you are not an individual or have used the Services on behalf of an entity, the AAA’s
                    Supplementary
                    Procedures for Consumer-Related Disputes will not be used. The AAA’s rules are available at <a
                            href="https://www.adr.org/">www.adr.org</a> or by calling 1-800-778-7879.
                </li> -->
                <li>Payment of all filing, administration and arbitrator fees will be governed by the AAA’s rules. If
                    you
                    are an individual and have not accessed or used the Services on behalf of an entity, we will
                    reimburse
                    those fees for claims where the amount in dispute is less than $10,000, unless the arbitrator
                    determines
                    the claims are frivolous, and we will not seek attorneys’ fees and costs in arbitration unless the
                    arbitrator determines the claims are frivolous.
                </li>
                <li>The arbitrator, and not any federal, state, or local court, will have exclusive authority to resolve
                    any
                    dispute relating to the interpretation, applicability, unconscionability, arbitrability,
                    enforceability,
                    or formation of this arbitration agreement, including any claim that all or any part of this
                    arbitration
                    agreement is void or voidable. However, the preceding sentence will not apply to the “Class Action
                    Waiver” section below.
                </li>
                <!-- <li>If you do not want to arbitrate disputes with WeColab and you are an individual, you may opt out of
                    this
                    arbitration agreement by sending a notice via email: <a href="mailto:contact@WeColabsuite.com">contact@WeColabsuite.com</a> within
                    thirty (30) days of the first of the date you access or use the Service.
                </li> -->
                <li><strong>Class Action Waiver: Any Claim must be brought in the respective party’s individual
                    capacity,
                    and not as a plaintiff or class member in any purported class, collective, representative, multiple
                    plaintiff, or similar proceeding (“Class Action”). The parties expressly waive any ability to
                    maintain
                    any Class Action in any forum. If the Claim is subject to arbitration, the arbitrator will not have
                    authority to combine or aggregate similar claims or conduct any Class Action nor make an award to
                    any
                    person or entity not a party to the arbitration. Any claim that all or part of this Class Action
                    Waiver
                    is unenforceable, unconscionable, void, or voidable may be determined only by a court of competent
                    jurisdiction and not by an arbitrator. The parties understand that any right to litigate in court,
                    to
                    have a judge or jury decide their case, or to be a party to a class or representative action, is
                    waived,
                    and that any claims must be decided individually, through arbitration.</strong></li>
                <li>If this class action waiver is found to be unenforceable, then the entirety of the Arbitration
                    Agreement, if otherwise effective, will be null and void. The arbitrator may award declaratory or
                    injunctive relief only in favor of the individual party seeking relief and only to the extent
                    necessary
                    to provide relief warranted by that party’s individual claim. If for any reason a claim proceeds in
                    court rather than in arbitration, you and WeColab each waive any right to a jury trial.
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>
