@media (max-width: 990px) {
    #sidebarr {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebarr.active {
        margin-left: 0;
        transform: none;
    }
}
#navigation
{
    background-color: white;
    color: black;
}
#charts
{   width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
}
