<div class="card card-container">
    <button id="x" (click)="closeModel()">X</button>
    <h5 class="card-title">Sign in</h5>
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address"
            [(ngModel)]="email" required autofocus>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
            [(ngModel)]="password" required>
        <button class="btn btn-lg btn-primary btn-block btn-signin" id="submitButton" type="button"
            (click)="checkSignIn()">Sign
            in</button>
    </form><!-- /form -->
    <a class="forgot-password" href="javascript:undefined" (click)="onClickForgetPassword();">
        Forgot password?
    </a>
</div><!-- /card-container -->