.form-control{
    height: 40px;
    box-shadow: none;
    color: #969fa4;

}
.form-control:focus{
    border-color: #5cb85c;
}
.form-control, .btn{        
    border-radius: 3px;
}
.ContactUs-form{
    width: 400px;
     margin:  auto; 
    margin-top: 60px; 
    /* padding: 30px 0; */
}
.ContactUs-form h2{
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}
.ContactUs-form h2:before, .ContactUs-form h2:after{
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}	
.ContactUs-form h2:before{
    left: 0;
}
.ContactUs-form h2:after{
    right: 0;
}
.ContactUs-form .hint-text{
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}
.ContactUs-form form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.ContactUs-form .form-group{
    margin-bottom: 20px;
}
.ContactUs-form input[type="checkbox"]{
    margin-top: 3px;
}
.ContactUs-form .btn{        
    font-size: 16px;
    font-weight: bold;		
    min-width: 140px;
    outline: none !important;
}
.ContactUs-form .row div:first-child{
    padding-right: 10px;
}
.ContactUs-form .row div:last-child{
    padding-left: 10px;
}    	
.ContactUs-form a{
    color: #fff;
    text-decoration: underline;
}
.ContactUs-form a:hover{
    text-decoration: none;
}
.ContactUs-form form a{
    color: #5cb85c;
    text-decoration: none;
}	
.ContactUs-form form a:hover{
    text-decoration: underline;
}  
#error{
    text-align: left;
    color: red;
}


