<div class="signup-form">
    <form [formGroup]="passwordChangeForm" (ngSubmit)="onPasswordChange()">
        <!-- <div class="row" *ngIf="successMsg">
            <div class="col-xs-12">
                <p class="alert alert-success">
                    <strong>{{message}}</strong>
                </p>
            </div>
        </div> -->

        <h3>Change Password</h3>

        <div class="form-group">
            <input type="email" formControlName="emailId" class="form-control" name="emailId" placeholder="EmailId">
        </div>
        <div class="form-group">
            <input type="password" formControlName="currentPassword" class="form-control"
                placeholder="Current Password">
        </div>
        <div class="form-group">
            <input type="password" formControlName="newPassword" class="form-control" placeholder="New Password">
            <div id="error" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                <small *ngIf="newPassword.errors['required']">password required</small>
            </div>
        </div>
        <div class="form-group">
            <input type="password" formControlName="newConfirmPassword" class="form-control" name="confirm New Password"
                placeholder="Confirm Password" passwordValidator="newPassword">
            <div id="error"
                *ngIf="newConfirmPassword.invalid && (newConfirmPassword.dirty || newConfirmPassword.touched)">
                <small *ngIf="newConfirmPassword.errors['required']">confirmPassword required</small>
                <small *ngIf="newConfirmPassword.errors['passwordValidator'] && newConfirmPassword.dirty">passwords
                    didn't
                    match,try
                    again</small>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="passwordChangeForm.invalid"
                class="btn btn-success btn-lg btn-block">Change</button>
        </div>
    </form>

</div>